html{
  scroll-behavior: smooth;
}

*{margin:0; padding: 0; box-sizing:border-box;
     font-family: 'Poppins', sans-serif;}
   
     a{ text-decoration: none;}
   a:hover{
    text-decoration: none;
   }
li{ list-style: none;}
p{
    font: size 0.9rem;
    font-weight: 400;
    line-height: 1.9;
    color: grey;

}
.extradiv h2, .servid h2{
font-size: 0.9rem;
font-weight: bold;
margin: 20px 0 15px 0;
color: #606060;
}
i{
  color: #2fccd0;
}

.header{
    width:100%;
    height:100vh;
    background-image:linear-gradient(rgba(0,168,255,0.3),rgba(0,168,255,0.3)),url("https://wallpapers.com/images/featured/yn553k4gdhpc4hlh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(100% 0%, 100% 75%, 50% 100%, 0 75%, 0 0);
   position: relative;
   }
   .header:before{
     content: "";
    position: absolute;
    position:0% 0% 0% 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%, #3ccdbb 0%, #16c9f6 100%);
   }
   .navbar navbar-expand-lg{
    content: "";
    position: absolute;
    position:0% 0% 0% 0%;
    opacity: .3;
    z-index: -1;
    background: linear-gradient(to right,#1e5799 0%, #3c5dbb 0%, #16c8f6 100%);
   }
   .nav-item a{
    color: #fff!important;
    font-weight: bold;
   }
  .header-section{
    width:100%;
    height: inherit;
    color: whitesmoke;
    text-align: center;
    position: relative;
  }
  .center-div{
    width: 100%;
    height: auto;
    position: absolute;
    top:50%;
    left: 50%;
 transition: X(-50% ,-50%);
   -ms-transform: translate(-50% ,-50%);
   -webkit-transform: translate(-50% ,-50%);
  }
  .header-buttons a{
    border: 1px solid #fff;
    border-radius: 100px;
    margin: 0 5px;
    padding: 12px 35px;
    outline: none;
    color: #fff;
    font-size: 1rem;
    font-weight: 400 ;
    line-height: 1.4;
    text-align: center;
  }
   .header-buttons a:hover{
color: #50d1c0;
background-color: #fff;
text-decoration: none;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
   }
   .center-div p{
    font-size: 1.3rem;
    padding: 10px 0 20px 0;
    color: white;
   }
   /******************************Extradivstart******************************/
   .header-extradiv{
    width:100%; height:auto;
    margin: 100px 0;
    text-align: center;
   }
 .extradiv{
    background-color: white;
    border: medium none;
    padding: 50px;
    border-radius: 3px;
    transition: 0.3s;
     }
 .extradiv:hover{
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
  transform: translateY(-30px);
 }    
 /******************************Extradivend******************************/
 .serviceoff{
background-color: #f7f7f9;
padding:50px 0;
margin-bottom:50px;
 }
 .headings{
  margin-bottom:50px;
 }
 .heading h1{
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: uppercase;
 }
 .name h1{
    color: #2e2e2e;
    font-size: 0.9rem;
    text-transform: uppercase;
    font-weight: bold;
 }
 .service-icons{
  display: flex;
  justify-content: center;
  align-items: center;
 }
 .progress{
  height: 0.6rem !important;
  margin-bottom: 25px;
  background: #606060;
 }
 /*******************************************Project wrk start*********************/
 .project-work{
  margin: 100px 0;
 }
 .project-work h1{
  font-size: 2rem;
  text-align: center;
 }
 /*********************************projectwrk done**********************************/
 
 /**********************************New Set Up***********************************/
 .pricing{
  width:100%;
  height: 700px;
  padding:50px; 
  background-color:#1e5799;
 }

 .card{
  transition: 0.4s ease;
 }
 .card-header{
  font-size: 1.6rem;
  font-weight: bold;
  padding: 25px 9!important;
  background-color: #fff!important;
 }
 .card-body{
  padding:30px 0!important;
 }
 .card-body li{
  margin:10px 0!important;
  font-size: 15px;
  line-height: 1.6rem;
  color:#2e2e2e
 }
 .card-footer{
  padding:25px 0!important;
 background-color: white
 }

 .money{
  font-size: 40;
  line-height: 1;
  color:#606060
 }

 .card-footer a{
  border: 1px solid #50d1c0;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color: #50d1c0;
  font-size: 1rem;
  font-weight: 400 ;
  line-height: 1.4;
  text-align: center;
}
.card:hover .card-footer a{
color: #fff;
background-color:#50d1c0;
text-decoration: none;
box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
 }
 .card:hover{
  transform: translateY(30px);
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.3);
 }

 /**************************************************Our Client*****************************************/
 .client{
  width: 100%;
  height:100vh;
  padding: 80px 0;
 }

 .bow{
  text-align: center;
  border:1px solid rgba(0,0,0,0.3);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  border-radius: 2px;
  transition: 0.3 ease;
 }
 .bow:hover{
  background-color: #16c9f6;
 }
 .bow:hover p{
  color: #fff;
 }
 /******************************New Set up********************************************************/
 .contactus{
  width:100%;
  height:100vh;
  padding:80px 0;
  position: relative;
 }
 .contactus:before{
  content: " ";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  z-index: -1;
  background: linear-gradient(330deg, #16c9f6 55%, #fff 0%);

 }
 .form-button button{
  border: 1px solid #50d1c0;
  border-radius: 100px;
  margin: 0 5px;
  padding: 12px 35px;
  outline: none;
  color:#50d1c0;
  font-size: 1rem;
  font-weight: 400 ;
  line-height: 1.4;
  text-align: center;
  background:transparent;
 }
 form:hover .form-button button{
color: #fff;
background-color: green;
box-shadow: 0 ,0 ,20px, 0.3 (rgba(0,0,0,0.3));
 }
 ::placeholder{
  font-size: 0.83rem;
 }
 /**************************************************************New******************************/
 .subscireb{
  width:100%;
  height:auto;
  padding:80px 0;
 }
 .subscirbe-bro{
  border-radius: 100px 0px 0px 100px!important;
  min-width: 150px;
  min-height: 45px;
 }
 .input-group-text{
  color: #f7f7f9;
  background-color: #5b60cb;
  border-radius: 0px 100px 100px 0px!important;
  min-width: 120px;
  min-height: 40px;
 }
 /********************************************llast part*********************************************************/
 .footersec{
  width:100%;
  height:auto;
  text-align: center;
  background-color: #00abff;
  padding: 70px 0 20px 0;
  position: relative;
 }
 .footersec p{
  color:#fff;
 }
 .footersec li a{
  font-size: 0.9rem;
  line-height: 1.6rem;
  font-weight: 400;
  color: #fff;
  text-transform: capitalize;
  text-align: center;
 }
 h3{
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 25px;
  font-size: 1.2rem!important;
  font-weight: bold;
  text-shadow: 0 2px 0(rgba(0,0,0,0.3));
 }
 #myBtn{
/*display: none;*/
  position: fixed;
  bottom: 20px;
  right:40px;
  z-index: 99;
  border: none;
  color:#fff;
  background-color: #606060;
  padding: 10px;
  border-radius: 10px;
 }
 #myBtn:hover{
background-color: #1e5799;
  color: white;
 }